<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-title">
            整体趋势 <small ng-hide="startdate&&enddate">最近一周数据</small> <small ng-show="startdate&&enddate">{{startdate}} ~ {{enddate}}</small>
            <div class="pull-right">
                <div class="form-inline">
                    <div class="form-group">
                        <datepicker date-format="{{'yyyy-MM-dd'}}" date-min-limit="{{minDate}}" date-max-limit="{{enddate}}" button-prev="<i class='ion ion-chevron-left'></i>" date-set="{{startdate}}" button-next="<i class='ion ion-chevron-right'></i>">
                            <input class="form-control" ng-model="startdate" placeholder="开始日期"/>
                            <i class="ion ion-calendar"></i>
                        </datepicker>
                    </div>
                    <div class="form-group">
                        <datepicker date-format="{{'yyyy-MM-dd'}}" date-max-limit="{{yesterday}}" date-min-limit="{{startdate}}" button-prev="<i class='ion ion-chevron-left'></i>" date-set="{{enddate}}" button-next="<i class='ion ion-chevron-right'></i>">
                          <input class="form-control" ng-model="enddate" placeholder="结束日期"/>
                          <i class="ion ion-calendar"></i>
                        </datepicker>
                    </div>
                    <button type="button" class="btn default refresh" ng-click="refresh();"><i class="ion ion-refresh"></i> 刷新</button>
                </div>
            </div>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="ion-person"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{data.summary.total}}
                    </div>
                    <div class="desc">
                        累计用户
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="ion-ios-people"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{data.summary.active_user_yesterday}}
                    </div>
                    <div class="desc">
                         昨日活跃用户
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat yellow">
                <div class="visual">
                    <i class="ion-mouse"></i>
                </div>
                <div class="details">
                    <div class="number">
                         {{data.summary.dayDuration7}}
                    </div>
                    <div class="desc">
                         过去7天平均日使用时长
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        <div class="portlet">
        <div class="protlet-title">
            <div class="btn-group hide" data-toggle="buttons" id="app_chart_btns">
                <label class="btn default" id="new_user_label">
                <input type="checkbox" class="toggle" data-name="sum_new_user">新增用户</label>
                <label class="btn default" id="active_user_label">
                <input type="checkbox" class="toggle" data-name="sum_active_user">活跃用户</label>
                <label class="btn default" id="launch_label">
                <input type="checkbox" class="toggle" data-name="sum_launch">启动次数</label>
                <label class="btn default" id="avg_duration_label">
                <input type="checkbox" class="toggle" data-name="avg_duration">平均持续时间</label>
                <label class="btn default" id="total_label">
                <input type="checkbox" class="toggle" data-name="sum_total">累计用户</label>
            </div>
        </div>
            <div id="container" style="min-width:400px;height:500px"></div>
            </div>
        </div>
    </div>
</div>
