<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-title">
            活跃用户 <small ng-show="filter.year">{{filter.year}}年</small> <small ng-show="startdate&&enddate">{{startdate}} ~ {{enddate}}</small>
            <div class="pull-right">
                <div class="form-inline" ng-show="filter.time === 'daily'">
                    <div class="form-group">
                        <datepicker date-format="{{'yyyy-MM-dd'}}" date-min-limit="{{minDate}}" date-max-limit="{{enddate}}" button-prev="<i class='ion ion-chevron-left'></i>" date-set="{{startdate}}" button-next="<i class='ion ion-chevron-right'></i>">
                            <input class="form-control" ng-model="startdate" placeholder="开始日期"/>
                            <i class="ion ion-calendar"></i>
                        </datepicker>
                    </div>
                    <div class="form-group">
                        <datepicker date-format="{{'yyyy-MM-dd'}}" date-max-limit="{{yesterday}}" date-min-limit="{{startdate}}" button-prev="<i class='ion ion-chevron-left'></i>" date-set="{{enddate}}" button-next="<i class='ion ion-chevron-right'></i>">
                          <input class="form-control" ng-model="enddate" placeholder="结束日期"/>
                          <i class="ion ion-calendar"></i>
                        </datepicker>
                    </div>
                    <button type="button" class="btn default refresh" ng-click="refresh();"><i class="ion ion-refresh"></i> 刷新</button>
                </div>
                <div class="form-inline" ng-show="filter.time !== 'daily'">
                    <div class="form-group">
                        <select class="form-control" ng-model="filter.year"
                        ng-options="option for option in yearPicker track by option"
                        ng-change="yearPickerChange(filter.year)" name="year"></select>
                    </div>
                </div>
            </div>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="portlet">
                <div class="protlet-title">
                    <div class="btn-group filter-btn-group">
                        <label>
                        <input ng-model="filter.time" value="daily" ng-change="filterOnChange(filter.time)" name="filter" type="radio" class="toggle"><span class="btn default">日</span></label>
                        <label>
                        <input ng-model="filter.time" value="weekly" ng-change="filterOnChange(filter.time)" name="filter" type="radio" class="toggle"><span class="btn default">周</span></label>
                        <label>
                        <input ng-model="filter.time" value="monthly" ng-change="filterOnChange(filter.time)" name="filter" type="radio" class="toggle"><span class="btn default">月</span></label>
                    </div>
                </div>
            </div>
            <div id="container" style="min-width:400px;height:500px"></div>
        </div>
    </div>
    <div class="row hide">
        <div class="col-xs-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        活跃用户概况
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-advance table-hover" id="app_details">
                        <thead>
                        <tr>
                            <th>
                                <i class="fa fa-briefcase"></i> 昨日活跃用户
                            </th>
                            <th>
                                <i class="fa fa-user"></i> 过去7天活跃用户
                            </th>
                            <th>
                                <i class="fa fa-shopping-cart"></i> 昨日活跃 / 过去7天活跃
                            </th>
                            <th>
                                <i class="fa fa-user"></i> 过去30天活跃用户
                            </th>
                            <th>
                                <i class="fa fa-shopping-cart"></i> 昨日活跃 / 过去30天活跃
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        活跃用户明细
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-advance table-hover" id="app_details">
                        <thead>
                        <tr>
                            <th>
                                <i class="ion-clock"></i> 日期
                            </th>
                            <th>
                                <i class="ion-person"></i> 活跃用户
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in data.data">
                                <td ng-show="{{filter.time=='daily'}}">{{item.date}}</td>
                                <td ng-show="{{filter.time=='weekly'}}">第{{item.week_no}}周 ({{item.start_date}} ~ {{item.end_date}})</td>
                                <td ng-show="{{filter.time=='monthly'}}">{{item.year}}年{{item.month_no}}月</td>
                                <td>{{item.active_user}}</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
