<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-title">
            沉默用户 <small>最近一周数据 <span ng-if="0">{{startdate}} ~ {{enddate}}</span></small>
            <div class="pull-right">
                <div class="form-inline">
                    <div class="form-group">
                        <datepicker class="input-group" date-format="{{'yyyy-MM-dd'}}" date-min-limit="{{minDate}}" date-max-limit="{{enddate}}" button-prev="<i class='ion ion-chevron-left'></i>" button-next="<i class='ion ion-chevron-right'></i>">
                          <input class="form-control" ng-model="startdate" placeholder="开始日期"/>
                          <span class="input-group-addon"><i class="ion ion-calendar"></i></span>
                        </datepicker>
                    </div>
                    <div class="form-group">
                        <datepicker class="input-group" date-format="{{'yyyy-MM-dd'}}" date-max-limit="{{yesterday}}" date-min-limit="{{startdate}}" button-prev="<i class='ion ion-chevron-left'></i>" button-next="<i class='ion ion-chevron-right'></i>">
                          <input class="form-control" ng-model="enddate" placeholder="结束日期"/>
                          <span class="input-group-addon"><i class="ion ion-calendar"></i></span>
                        </datepicker>
                    </div>
                    <button type="button" class="btn default refresh" ng-click="refresh();"><i class="ion ion-refresh"></i> 刷新</button>
                </div>
            </div>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="container" style="min-width:400px;height:500px"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        沉默用户概况
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-advance table-hover" id="app_details">
                        <thead>
                        <tr>
                            <th>
                                <i class="ion-volume-mute"></i> 累计沉默用户
                            </th>
                            <th>
                                <i class="ion-stats-bars"></i> 累计沉默用户比例
                            </th>
                            <th>
                                <i class="ion-android-volume-off"></i> 昨日近期（最近90~30天）沉默用户
                            </th>
                            <th>
                                <i class="ion-sad-outline"></i> 近期（最近90~30天）沉默用户比例
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        沉默用户明细
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-advance table-hover" id="app_details">
                        <thead>
                        <tr>
                            <th>
                                <i class="ion-clock"></i> 日期
                            </th>
                            <th>
                                <i class="ion-person-add"></i> 新增用户
                            </th>
                            <th>
                                <i class="ion-person"></i> 沉默用户
                            </th>
                            <th>
                                <i class="ion-sad-outline"></i> 沉默用户占比(某日/周/月的沉默用户占所选时间段总沉默用户的比例)
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
